body
{
   /* font-family:sans-serif;*/
   font-family:Roboto,sans-serif;
}
h1, h2, h3 {
    font-weight: 800;
    color: skyblue;
    text-shadow: 25px 15px 2px darkblue,-25px -15px 2px blue;
}
p
{
    text-align:justify;
    font-weight:300;
}

.image
{
    border:solid 1px;
    text-align:center;
}
div>img
{
    /*width:50%;
    height:auto;*/
}
figcaption
{
    font-style:italic;
}
.header, .delimiter, .header:hover, .delimiter:hover
{
    background-color:cornflowerblue;
    color:white;
    /*height:50px;*/
    
    
}
    .header:hover, .delimiter:hover
    {
        box-shadow: inset 0px -5px 15px 0 green;
    }
    
    .header {
        height: 50px;
    }
.delimiter
{
    height:32px;
}
.row-header, .row-header:hover
{
    background-color: cornflowerblue;
    color: white;
    text-align:left;
    width:200px;
}
.row-header:hover
{
    font-weight:800;
}
table {
    border: solid;
    border-spacing: 0;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
   /* box-shadow: 0px 0px 0px 50px;*/
    
    /*border-collapse:collapse;*/
}
table:hover
{
box-shadow: 0px 0px 25px 25px grey;
}
tr
{
    border: solid 1px;
    color:cornflowerblue;
}
    tr:hover 
    {
        background-color: lightskyblue;
        color: grey;
        /*font-weight:800;*/
    }
th {
    border: solid 1px;
    padding-left: 25px;
    padding-right: 25px;
}
td 
{
    text-align: center;
    border: solid 1px;
}
td:hover
{
    background-color:cadetblue;
    color:aliceblue;

}
.cite
{
    text-align:right;
    margin-left:50px;
    font-weight:100;
}